body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Fond clair */
  color: #333; 
}

#main-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; /* Fond blanc */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

#tickets {
  flex: 1; /* Utilisation de tout l'espace disponible */
  margin-right: 20px; /* Espacement entre les sections */
  background-color: #f0f0f0; /* Fond gris clair */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: background-color 0.3s ease;
}

#spectacles {
  flex: 1; /* Utilisation de tout l'espace disponible */
  background-color: #f9e3b4; /* Fond jaune pâle */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: background-color 0.3s ease;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

#logout {
  background-color: #da0202; /* Bouton rouge */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#logout:hover {
  background-color: #c82333; /* Survol du bouton rouge */
}




